{% extends "base.html" %}
{% block head %}
<title>Lookup for - {{ bindu_name }}</title>
{% endblock %}

{% block content %}

    <!-- Back Button (Floating) 
    <a href="{{ url_for('bindu', bindu_name=bindu_name) }}" class="back-button" title="Back to home">←</a>
    --> 
    <!-- Theme Toggle Button -->
    <button id="theme-toggle" class="theme-toggle" onclick="toggleTheme()" title="Toggle dark/light mode">
      ☀
    </button>

    <!-- Login / Logout Button -->
    {% if session.get('username') %}
      <a href="{{ url_for('logout') }}" class="login-button" title="Logout ({{ session.get('username') }})">{{ session.get('username') }} ⎋</a>
    {% else %}
      <a href="{{ url_for('login', next=request.path) }}" class="login-button" title="Login">Login</a>
    {% endif %}
    
    <!-- Main Part -->
    <div class="container" style="max-width:800px; margin-top:60px;">
      <div class="card card-body">
        <h2>Lookup for {{ bindu_name }}</h2>
        <p>This page shows a list of all the other bindus where {{ bindu_name }} was found </p>
        <table>
		{% for name in found_list %}
    		<tr>
        		<td>{{name}}</td>
        		<td><a class="btn" href="{{ url_for('bindu', bindu_name=name) }}">Open bindu</a></td>
    		</tr>
		{% endfor %}
        </table>
      </div>
    </div>
    
{% endblock %}
{% block footer %}
{% endblock %}