{% extends "small_base.html" %}

{% block head %}
 <title>User: {{ username }}</title>

 {% endblock %}


{% block content %}

    <div class="container" style="padding-top:80px; max-width:900px;">
      <a href="{{ url_for('index') }}" class="back-button">←</a>
      <h1>Author: {{ username }}</h1>
      <p>Notes created by {{ username }}:</p>
      {% if entries %}
        <ul class="list-group">
          {% for e in entries %}
            <li class="list-group-item"><a href="{{ e.link }}">{{ e.title }}</a> <small class="text-muted">({{ e.date }})</small></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No entries found.</p>
      {% endif %}
{% endblock %}

